.file-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.user-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    
}
.user-group{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;

}
mat-paginator{
    margin-top: 10px;
}
table{
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    margin-right: 20px !important;
    max-width: 100%;
}
.user-table{
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    margin-right: 20px !important;
    max-width: 100%;
}

th{
    font-size: 14px;
    color: var(--primary);
    vertical-align: middle;
}
td{
    font-size: 14px;
    color: var(--ligth);
    vertical-align: middle;
}
.mat-column-active{
    text-align: center !important;
}
.mat-column-Acciones{
    text-align: center !important;
}
.data{
    width: 100%;
}
.report-container-button{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 4%;
}
.report-container-button button{
    background-color: #0091ea;
    margin-right: 20px;
    margin-bottom: 10px;
    color: var(--secundary);
}
.report-container-loader {
    display: flex;
    justify-content: center;
}
.report-loader{
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid rgb(53, 74, 95);
    border-bottom: 6px solid rgb(53, 74, 95);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}