.bsc-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.bsc-form{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.bsc-group{
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
}
.bsc-container-perspective{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.bsc-perspective{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.bsc-perspective:hover{
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3), 0px 7px 11px 0px rgba(0, 0, 0, 0.15), 0px 2px 19px 0px rgba(0, 0, 0, 0.13);
}
.bsc-perspective-title{
    font-size: 14px;
    margin: 0px;
    color: var(--primary);
    text-align: center;
}
.bsc-perspective-subtitle{
    font-size: 14px;
    margin: 5px 0px 0px 0px;
    color: var(--ligth);
    text-align: center;
}
.bsc-container-chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.bsc-chart{
    width:100%;
}