.mapGroup-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.mapGroup-form{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 20px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}
.mapGroup-group{
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}
.mapGroup-text{
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}
.mapGroup-container-button{
  display: flex;
  width: 100%;
}
.mapGroup-button{
  font-size: 14px;
  width: 150px;
  height: 30px;
  line-height: 0px;
  color: var(--secundary);
  background-color: #0091ea;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 10px;
}
.mapGroup-button{
  font-size: 14px;
  width: 150px;
  height: 30px;
  line-height: 0px;
  color: var(--secundary);
  background-color: #197763;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 10px;
}

.mapGroup-group-checkbox{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
}
.mapGroup-container-checkbox{
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.mapGroup-checkbox{
  position: fixed;
  top: 10px;
  left: 10px;
  height: 20px;
  width: 20px;
  margin: 0px;
  border: 1px solid var(--primary);
}
input[type=checkbox]{
  position: fixed;
  top: 10px;
  left: 10px;
  height: 20px;
  width: 20px;
  margin: 0px;
  opacity: 0;
}
.mapGroup-label{
  position: fixed;
  top: 10px;
  left: 10px;
  background:transparent;
  height: 20px;
  width: 20px;
  cursor:pointer;
}
.mapGroup-label mat-icon{
  height: 20px;
  width: 20px;
  font-size: 20px;
  color: white;
}
input[type=checkbox]:checked + .mapGroup-label{
  background-color:var(--green);
}
input[type=checkbox]:checked + .mapGroup-label + mat-icon{
  height: 20px;
  width: 20px;
  font-size: 20px;
  color: white;
}
.mapGroup-control{
  display: flex;
  height: 40px;
}
.map-container {
  display: flex;
  flex-direction: column;
    flex-grow: 1;
    height: 1000px;
    width:  100%;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
  width: 99%;
}

#map {
  height: 100%;

}