mat-dialog-container{
    padding: 0px !important;
    background-color: rgb(255, 156, 7);
}
.mat-dialog-content{
    display: flex !important;
    flex-direction: column !important;
    height: 100%;
    background-color:  rgb(255, 156, 7);
}
.mat-dialog-content > p{
    text-align: center;
    flex-grow: 1;
    font-size: 20px;
    color: #fff;
    background-color:  rgb(255, 156, 7);
}
.information-container-button{
    display: flex;
    justify-content: flex-end;
    background-color:  rgb(255, 156, 7);
}
.back{
    background-color: rgb(255, 156, 7);
}