.coms-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.coms-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}
.coms-form-add{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
}
.coms-group{
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
}
.coms-text{
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
}
.coms-container-button{
    display: flex;
    width: 100%;
}
.coms-button{
    font-size: 14px;
    width: 150px;
    height: 30px;
    line-height: 0px;
    color: var(--secundary);
    background-color: #0091ea;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 11px;
}
.coms-butto{
    font-size: 14px;
    width: 150px;
    height: 30px;
    line-height: 0px;
    color: var(--secundary);
    background-color: #197763;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 10px;
}



.coms-group-checkbox{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 20px;
}
.coms-container-checkbox{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.coms-checkbox{
    position: fixed;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    margin: 0px;
    border: 1px solid var(--primary);
}
input[type=checkbox]{
    position: fixed;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    margin: 0px;
    opacity: 0;
}
.coms-label{
    position: fixed;
    top: 10px;
    left: 10px;
    background:transparent;
    height: 20px;
    width: 20px;
    cursor:pointer;
}
.coms-label mat-icon{
    height: 20px;
    width: 20px;
    font-size: 20px;
    color: white;
}
input[type=checkbox]:checked + .coms-label{
    background-color:var(--green);
}
input[type=checkbox]:checked + .coms-label + mat-icon{
    height: 20px;
    width: 20px;
    font-size: 20px;
    color: white;
}
.coms-control{
    display: flex;
    height: 40px;
}
.text-area{
    height: 98px;
}
#textarea {
    font-family: arial, verdana, ms sans serif;
    font-size: 12pt;
    color: #354a5f;
    background-color: rgb(255, 255, 255);
    }

    .inputfile + label {
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: black;
        display: inline-block;
    }
    
    .inputfile:focus + label,
    .inputfile + label:hover {
        background-color: red;
    }


.coms-attachment{
    display: flex;
    height: 100px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid var(--ligth);
}
.coms-attachment-content{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-height: 100px;
    padding: 5px;
    overflow: auto;
}
.coms-container-file{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 78px;
    width: 88px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.coms-container-file:hover{
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3), 0px 7px 11px 0px rgba(0, 0, 0, 0.15), 0px 2px 19px 0px rgba(0, 0, 0, 0.13);
}
.coms-container-file p{
    text-align: center;
    max-width: 88px;
    flex-grow: 1;
    margin: 5px 0px 0px 0px;
    font-size: 16px;
    color: var(--primary);
}
.coms-attachment-attach{
    display: flex;
    align-items: center;
    justify-content: center;
}

.coms-gro{
    display: flex;
    align-items: center;
    width: calc(51.2% - 20px);
}
.coms-title{
    font-size: 14px;
    color: var(--primary);
    margin:0px;
}
.coms-control{
    display: flex;
    height: 40px;
}
.coms-container-search{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    margin: 0px 20px;
    border-bottom: 1px solid var(--ligth);
}
.coms-margin{
    margin-bottom: 60px;
}
.invalid-text{
    color: rgb(206, 98, 98);
    font-size: small;
    font-family: sans-serif;
    margin-left: 5px;
}
.text-may{
    text-transform:uppercase;
}
.coms-pars{
    color: gray;
    font-size: x-small;
    font-family: sans-serif;
}
.coms-bot{
    margin-bottom: 62px;
}
.coms-vis{
    visibility:hidden;
}
.coms-fea{
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 0px;
    color: var(--secundary);
    background-color: #0091ea;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 10px;
}
.coms-feagroup{
    display: flex;
    flex-direction: column;
    width: calc(45% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
}
.coms-fgroup{
    display: flex;
    flex-direction: column;
    width: calc(5% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 33px;
}
.coms-container-checkbox{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.coms-checkbox{
    position: fixed;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    margin: 0px;
    border: 1px solid var(--primary);
}
.coms-label{
    position: fixed;
    top: 10px;
    left: 10px;
    background:transparent;
    height: 20px;
    width: 20px;
    cursor:pointer;
}
.coms-attachment{
    display: flex;
    height: 100px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid var(--ligth);
}
.coms-attachment-content{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-height: 100px;
    padding: 5px;
    overflow: auto;
}
.coms-container-file{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 78px;
    width: 88px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.coms-container-file:hover{
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3), 0px 7px 11px 0px rgba(0, 0, 0, 0.15), 0px 2px 19px 0px rgba(0, 0, 0, 0.13);
}
.coms-container-file p{
    text-align: center;
    max-width: 88px;
    flex-grow: 1;
    margin: 5px 0px 0px 0px;
    font-size: 16px;
    color: var(--primary);
}
.coms-color{
    width: 40px;
    margin-top: 10px;
    background-color: #0091ea;
    border-color: #0091ea;
}
.coms-color-black{
    color: black;
}

mat-paginator{
    margin-top: 10px;
}
.coms-table{
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    margin-right: 20px !important;
    max-width: 100%;
}
th{
    font-size: 14px;
    color: var(--primary);
    vertical-align: middle;
}
td{
    font-size: 14px;
    color: var(--ligth);
    vertical-align: middle;
}
tr{
    background-color: #ffffff;
}
tr:hover{
    background-color: #eeeeee;
}
.mat-column-active{
    text-align: center !important;
}
.mat-column-Acciones{
    text-align: center !important;
}
.coms-container-loader {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.coms-loader{
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid rgb(53, 74, 95);
    border-bottom: 6px solid rgb(53, 74, 95);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.coms-butonsearch{
    margin-right: 20px;  
}
.coms-float-button{
    position: flex;
    right: -20px;
}
.coms-group-botton{
    display: flex;
    flex-direction: column;
    width: calc(20% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
}