.form{
    position: relative;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    border: 1px solid var(--ligth);
}
.group{
    margin-right: 20px;
    margin-bottom: 20px;
}
.group-checkbox{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 20px;
}
.container-button{
    display: flex;
    width: 100%;
}
.button{
    position: absolute;
    bottom: -20px;
    right: -20px;
}

.active{
    margin-top: 10px;
}
.container-checkbox{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.checkbox{
    position: fixed;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    margin: 0px;
    border: 1px solid var(--primary);
}
textarea{
    height: 100px;
}
input[type=checkbox]{
    position: fixed;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    margin: 0px;
    opacity: 0;
}
.label{
    position: fixed;
    top: 10px;
    left: 10px;
    background:transparent;
    height: 20px;
    width: 20px;
    cursor:pointer;
}
.label mat-icon{
    height: 20px;
    width: 20px;
    font-size: 20px;
    color: white;
}
input[type=checkbox]:checked + .label{
    background-color:var(--green);
}
input[type=checkbox]:checked + .label + mat-icon{
    height: 20px;
    width: 20px;
    font-size: 20px;
    color: white;
}