.form{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 1px solid var(--ligth);
}
.group{
    margin-top: 20px;
}
.button-float{
    position: absolute;
    right: -20px;
    bottom: -20px;
}
textarea{
    padding: 10px;
    min-height: 60px;
}
.mee-container-support{
    position: relative;
    border: 1px solid var(--ligth);
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
}
.mee-float-button{
    position: absolute;
    right: -20px;
    bottom: -20px;
}
.mee-button{
    height: 30px;
    width: 30px;
    line-height: 30px;
}
.mee-table{
    max-width: 100% !important;
    width: 100% !important;
}
th{
    font-size: 12px;
    color: var(--primary);
    vertical-align: middle;
    text-align: center !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
td{
    font-size: 12px;
    color: var(--ligth);
    vertical-align: middle;
    text-align: center !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 30px !important;
}
tr{
    background-color: #ffffff;
    height: 30px !important;
}
tr:hover{
    background-color: #eeeeee;
}
.mat-column-actions{
    width: 90px !important;
}
.mee-container-loader {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.mee-loader{
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid rgb(53, 74, 95);
    border-bottom: 6px solid rgb(53, 74, 95);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}