.person-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.person-container-search{
    display: flex;
    justify-content: space-between;
    margin: 30px 20px 10px 0px;
}
.person-container-button{
    display: flex;
    justify-content: flex-end;
}
.person-group{
    display: flex;
    align-items: center;
    width: 300px;
}
.person-group >input{
    margin: 0px 5px 0px 0px;
}
mat-paginator{
    margin-top: 10px;
}
.person-table{
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    max-width: 100%;
    min-width: 100%;
}
th{
    font-size: 14px;
    color: var(--primary);
    vertical-align: middle;
}
td{
    font-size: 14px;
    color: var(--ligth);
    vertical-align: middle;
    cursor: pointer;
}
.mat-column-Asignar{
    text-align: center !important;
}
.person-container-loader {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.person-checkbox{
    position: fixed;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    margin: 0px;
    border: 1px solid var(--primary);
}
input[type=checkbox]{
    position: fixed;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    margin: 0px;
    opacity: 0;
}
.person-label{
    position: fixed;
    top: 10px;
    left: 10px;
    background:transparent;
    height: 20px;
    width: 20px;
    cursor:pointer;
}
.person-label mat-icon{
    height: 20px;
    width: 20px;
    font-size: 20px;
    color: white;
}
input[type=checkbox]:checked + .person-label{
    background-color:var(--green);
}
input[type=checkbox]:checked + .person-label + mat-icon{
    height: 20px;
    width: 20px;
    font-size: 20px;
    color: white;
}
.person-loader{
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid rgb(53, 74, 95);
    border-bottom: 6px solid rgb(53, 74, 95);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.person-container-checkbox{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}