.wls-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 20px;
}
.wls-table{
    max-width: 100% !important;
    width: 100% !important;
    margin-top: 10px;
    border: 1px solid var(--ligth);
}
th{
    font-size: 14px;
    color: var(--primary);
    vertical-align: middle;
    text-align: center !important;
    padding-right: 5px !important;
}
td{
    font-size: 14px;
    color: var(--ligth);
    vertical-align: middle;
    text-align: center !important;
    padding-right: 0px !important;
}
tr{
    background-color: #ffffff;
}
tr:hover{
    background-color: #eeeeee;
}
.mat-column-actions{
    width: 120px !important;
}
.wls-container-tabs{
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    height: 35px;
}
.wls-tab{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size: 14px;
    min-width: 100px;
    color: white;
    background-color: var(--primary);
    cursor: pointer;
}
.wls-tab-selected{
    height: 35px;
    color: var(--primary);
    background-color: white;
    border-top:2px solid var(--primary);
    border-right:2px solid var(--primary);
    border-left:2px solid var(--primary);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.wls-group{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 50%;
}
.wls-container-loader {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.wls-loader{
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid rgb(53, 74, 95);
    border-bottom: 6px solid rgb(53, 74, 95);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}